.aboutusPageDiv1 {
  display: flex;
}

.aboutProjectpg {
  margin-top: 60px;
  text-align: center;
  font-family: 'Courgette', cursive;
  color: crimson;
}

.aboutProjectpara {
  padding: 10px;
  text-align: justify;
  font-family: 'Jost', sans-serif;
  margin-bottom: 50px;
}

.FoundersSectionPage {
  position: absolute;
  top: 6.3em;
  right: 18.3em;
}
  

.foundingPg {
  
  text-align: center;
  font-family: 'Courgette', cursive;
  color: crimson;
}

.aboutPGfounder33 {
  margin-top: 30px;
  margin-bottom: 30px;
}
