* {
  margin: 0;
}

/* ------------------------- Header Section ------------------------- */

.header {
  background-color: #111227;
  width: 100%;
}
a {
  color: #f2f2f2;
  text-decoration: none;
  margin: 0 20px;
  padding-bottom: 3px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  /*
  TODO: Change margin value while coding for responsive layout. 
  */
}
ul {
  text-align: right;
}
.item {
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 30px;
}
.head-img{
  height: 80px;
  width: 80px;
  float: left;
  padding-left: 30px;
}
a:hover {
  border-bottom: 1px solid #f2f2f2;
}

/* ------------------------- Body Section ------------------------- */
.home-bg-img {
  width: 100%;
  height: 100vh;
  background-image: url("./bg1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
