* {
  margin: 0;
}

/* ------------------------- Header Section ------------------------- */

.header {
  background-color: #111227;
  width: 100%;
}
a {
  color: #f2f2f2;
  text-decoration: none;
  margin: 0 20px;
  padding-bottom: 3px;
  font-family: 'Courgette', cursive;  
  font-size: 20px;
  font-weight: bold;
  /*
  TODO: Change margin value while coding for responsive layout. 
  */
}
ul {
  text-align: right;
}
.item {
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 30px;
}
.head-img{
  height: 80px;
  width: 80px;
  float: left;
  padding-left: 30px;
}
a:hover {
  border-bottom: 1px solid #f2f2f2;
}

/* ------------------------- Body Section ------------------------- */



.headingMovies{
  text-align: center;
  font-size: 35px;
  font-family: 'Quicksand', sans-serif;
  padding: 50px;
  background-color: #2d545e;
  color: #c2edda;
}

#MovieSection{

  margin: 22px;
  display: flex;

}

#MovieSection .container{
  border: 2px solid #d98e6a;
  padding: 33px;
  margin: 25px 24px;
  border-radius: 10px;
  background: #dfedff8f;
  margin-bottom: 20px;
}

.image1{
  height: 206px;
  display: block;
  margin: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  
}

.container .p{ 
  color: black;
  font-weight: bold;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  transform: translate(5%, -241%);
  
}

.container:hover .image1 {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #e2324f;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}



/*------------------------------Footer Section------------------------------*/

footer{
  background: black;
  color: white;
  padding: 10px;
  text-align: center;
}


/* neeeds editing........................

1. alignment of text inside boxes
2. hover alignment 
3. font family of boxes

........................................*/