{% load static %}

<nav class="header">
    <img src="{% static '/websiteLogo.png' %}" class="head-img" alt="firstimpression" />
    <!-- Navigation bar -->
    <ul id="navBar">
        <li class="item"><a class="aitems" href="../webpages/index">Home</a></li>
        <li class="item"><a class="aitems" href="../webpages/movies">Movies</a></li>
        <li class="item"><a class="aitems" href="../webpages/webseries">Web Series</a></li>
        <li class="item"><a class="aitems" href="../webpages/about">About Us</a></li>
        <li class="item"><a class="aitems" href="../webpages/contact">Contact Us</a></li>
        <li class="item"><a class="aitems" href="../webpages/profile" target="blank">Profile</a></li>
        <!-- search bar -->
        <div class="searchContainer">
            <form action="https://www.google.com/">     <!--should add server pointer to search -->
            <input type="text" placeholder="type here to search" name="search">
            <button type="submit">
                <img src="{% static '/searchIcon.png' %}" alt="searchButton" class="SearchImg">
                <div class="hide">Search</div>
            </button>
            </form>
        </div> 
    </ul>
</nav>