{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, maximum-scale=1">    
    <title>First Impression</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/movies.css' %}">
    <link rel="stylesheet" href="{% static 'css/webseries.css' %}">
    <link rel="stylesheet" href="{% static 'css/contactus.css' %}">
    <link rel="stylesheet" href="{% static 'css/aboutus.css' %}">
    
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@1,300&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Courgette&family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet"> 

</head>


<body>
    
<!--------------------------------------- Header Section ---------------------------------------->

{% include 'includes/navbar.html' %}
    

    {% block content %}
    {% endblock %}


<!--------------------------------------- Footer Section -------------------------------------->


{% include 'includes/footer.html' %}



</body>


</html>