<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, maximum-scale=1">
    <title>First Impression</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&family=Quicksand:wght@300&display=swap" rel="stylesheet">

</head>


<body>
    

    <header class="header">
        <img src="websiteLogo.png" class="head-img" alt="firstimpression" />
        <!-- Navigation bar -->
        <ul id="navBar">
            <li class="item"><a class="aitems" href="index.html">Home</a></li>
            <li class="item"><a class="aitems" href="movies/movies.html">Movies</a></li>
            <li class="item"><a class="aitems" href="series/webseries.html">Web Series</a></li>
            <li class="item"><a class="aitems" href="about.html">About Us</a></li>
            <li class="item"><a class="aitems" href="contact.html">Contact Us</a></li>
            <li class="item"><a class="aitems" href="profile.html" target="blank">Profile</a></li>
            <!-- search bar -->
            <div class="searchContainer">
                <form action="https://www.google.com/">     <!--should add server pointer to search -->
                <input type="text" placeholder="type here to search" name="search">
                <button type="submit">
                    <img src="searchIcon.png" alt="searchButton" class="SearchImg">
                    <div class="hide">Search</div>
                </button>
                </form>
            </div> 
        </ul>
    </header>

</body>



</html>