<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, maximum-scale=1">    <title>First Impression</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/movies.css">
    <link rel="stylesheet" href="../static/webseries.css">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>


<body>

    <!-- ------------------------------------- Header Section ---------------------------------------->

    
    <header class="header">
        <img src="../static/websiteLogo.png" class="head-img" alt="firstimpression" />
        <!-- Navigation bar -->
        <ul id="navBar">
            <li class="item"><a class="aitems" href="index.html">Home</a></li>
            <li class="item"><a class="aitems" href="movies.html">Movies</a></li>
            <li class="item"><a class="aitems" href="webseries.html">Web Series</a></li>
            <li class="item"><a class="aitems" href="about.html">About Us</a></li>
            <li class="item"><a class="aitems" href="contact.html">Contact Us</a></li>
            <li class="item"><a class="aitems" href="profile.html" target="blank">Profile</a></li>
            <!-- search bar -->
            <div class="searchContainer">
                <form action="https://www.google.com/">     <!--should add server pointer to search -->
                <input type="text" placeholder="type here to search" name="search">
                <button type="submit">
                    <img src="../static/searchIcon.png" alt="searchButton" class="SearchImg">
                    <div class="hide">Search</div>
                </button>
                </form>
            </div> 
        </ul>
    </header>


    <main>

        <!-- --------------------------Top Rated Movies Section------------------------>

        <section class="movies">

            <h1 class="headingMovies">Top Rated TV Shows</h1>

            

            <div id="MovieSection">

                <a class="Arrow" href="#"><i class="fa">&#xf053;</i></a>

                <div class="container">
                    <img src="../static/movie1.jpg" alt="image" class="image1">
                    <p class="p">FAST & FURIOUS 9 </p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div>                
                </div>

                <div class="container">
                    <img src="../static/movie1.jpg" alt="image" class="image1">
                    <p class="p">FAST & FURIOUS 9</p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div>                 
                </div>

                <div class="container">
                    <img src="../static/movie1.jpg" alt="image" class="image1">
                    <p class="p">FAST & FURIOUS 9</p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div> 
                    
                </div>

                <div class="container">
                    <img src="../static/movie1.jpg" alt="image" class="image1">
                    <p class="p">FAST & FURIOUS 9</p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div> 
                </div>


                <div class="container">
                    <img src="../static/movie1.jpg" alt="image" class="image1">
                    <p class="p">FAST & FURIOUS 9</p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div>
         
                </div>

                    <a class="Arrow" href="#"><i class="fa">&#xf054;</i></a>                    

            </div>

        </section>

        <!-- --------------------------Popular webseries Section------------------------>

        <section class="movies">

            <h1 class="headingMovies" id="HeadingN">Popular webseries</h1>

            

            <div id="MovieSection">

                <a class="Arrow" href="#"><i class="fa">&#xf053;</i></a>


                <div class="container">
                    <img src="../static/wseries2.jpg" alt="image" class="image1">
                    <p class="p">STRANGER THINGS</p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div>                
                </div>

                <div class="container">
                    <img src="../static/wseries2.jpg" alt="image" class="image1">
                    <p class="p">STRANGER THINGS</p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div>                 
                </div>

                <div class="container">
                    <img src="../static/wseries2.jpg" alt="image" class="image1">
                    <p class="p">STRANGER THINGS</p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div> 
                    
                </div>

                <div class="container">
                    <img src="../static/wseries2.jpg" alt="image" class="image1">
                    <p class="p">STRANGER THINGS</p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div> 
                </div>


                <div class="container">
                    <img src="../static/wseries2.jpg" alt="image" class="image1">
                    <p class="p">STRANGER THINGS</p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div> 
                </div>

                <a class="Arrow" href="#"><i class="fa">&#xf054;</i></a>

            </div>
            
        </section>


        <!-- --------------------------Popular shows of the year Section--------------------- -->

        <section class="movies">

            <h1 class="headingMovies" id="HeadingN">Popular Shows Of The Year</h1>

            

            <div id="MovieSection">

                <a class="Arrow" href="#"><i class="fa">&#xf053;</i></a>


                <div class="container">
                    <img src="../static/wseries2.jpg" alt="image" class="image1">
                    <p class="p">STRANGER THINGS</p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div>                
                </div>

                <div class="container">
                    <img src="../static/wseries2.jpg" alt="image" class="image1">
                    <p class="p">STRANGER THINGS</p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div>                 
                </div>

                <div class="container">
                    <img src="../static/wseries2.jpg" alt="image" class="image1">
                    <p class="p">STRANGER THINGS</p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div> 
                    
                </div>

                <div class="container">
                    <img src="../static/wseries2.jpg" alt="image" class="image1">
                    <p class="p">STRANGER THINGS</p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div> 
                </div>


                <div class="container">
                    <img src="../static/wseries2.jpg" alt="image" class="image1">
                    <p class="p">STRANGER THINGS</p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div> 
                </div>

                <a class="Arrow" href="#"><i class="fa">&#xf054;</i></a>

            </div>
            
        </section>

        <!-- --------------------------Now Playing in TV Section------------------------>

        <section class="movies">

            <h1 class="headingMovies" id="HeadingN">Now Playing In TV</h1>

            

            <div id="MovieSection">

                <a class="Arrow" href="#"><i class="fa">&#xf053;</i></a>


                <div class="container">
                    <img src="../static/wseries2.jpg" alt="image" class="image1">
                    <p class="p">STRANGER THINGS</p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div>                
                </div>

                <div class="container">
                    <img src="../static/wseries2.jpg" alt="image" class="image1">
                    <p class="p">STRANGER THINGS</p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div>                 
                </div>

                <div class="container">
                    <img src="../static/wseries2.jpg" alt="image" class="image1">
                    <p class="p">STRANGER THINGS</p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div> 
                    
                </div>

                <div class="container">
                    <img src="../static/wseries2.jpg" alt="image" class="image1">
                    <p class="p">STRANGER THINGS</p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div> 
                </div>


                <div class="container">
                    <img src="../static/wseries2.jpg" alt="image" class="image1">
                    <p class="p">STRANGER THINGS</p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div> 
                </div>

                <a class="Arrow" href="#"><i class="fa">&#xf054;</i></a>

            </div>
            
        </section>

        <!-- --------------------------Netflix original Section------------------------>

        <section class="movies">

            <h1 class="headingMovies" id="HeadingN">Netflix Original</h1>

            

            <div id="MovieSection">

                <a class="Arrow" href="#"><i class="fa">&#xf053;</i></a>


                <div class="container">
                    <img src="../static/wseries2.jpg" alt="image" class="image1">
                    <p class="p">STRANGER THINGS</p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div>                
                </div>

                <div class="container">
                    <img src="../static/wseries2.jpg" alt="image" class="image1">
                    <p class="p">STRANGER THINGS</p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div>                 
                </div>

                <div class="container">
                    <img src="../static/wseries2.jpg" alt="image" class="image1">
                    <p class="p">STRANGER THINGS</p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div> 
                    
                </div>

                <div class="container">
                    <img src="../static/wseries2.jpg" alt="image" class="image1">
                    <p class="p">STRANGER THINGS</p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div> 
                </div>


                <div class="container">
                    <img src="../static/wseries2.jpg" alt="image" class="image1">
                    <p class="p">STRANGER THINGS</p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div> 
                </div>

                <a class="Arrow" href="#"><i class="fa">&#xf054;</i></a>

            </div>
            
        </section>


        <!-- --------------------------Amazon prime original Section------------------------>

        <section class="movies">

            <h1 class="headingMovies" id="HeadingN">Amazon Prime Original</h1>

            

            <div id="MovieSection">

                <a class="Arrow" href="#"><i class="fa">&#xf053;</i></a>


                <div class="container">
                    <img src="../static/wseries2.jpg" alt="image" class="image1">
                    <p class="p">STRANGER THINGS</p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div>                
                </div>

                <div class="container">
                    <img src="../static/wseries2.jpg" alt="image" class="image1">
                    <p class="p">STRANGER THINGS</p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div>                 
                </div>

                <div class="container">
                    <img src="../static/wseries2.jpg" alt="image" class="image1">
                    <p class="p">STRANGER THINGS</p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div> 
                    
                </div>

                <div class="container">
                    <img src="../static/wseries2.jpg" alt="image" class="image1">
                    <p class="p">STRANGER THINGS</p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div> 
                </div>


                <div class="container">
                    <img src="../static/wseries2.jpg" alt="image" class="image1">
                    <p class="p">STRANGER THINGS</p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div> 
                </div>

                <a class="Arrow" href="#"><i class="fa">&#xf054;</i></a>

            </div>
            
        </section>



        <!-- -------------------------- Genre Section------------------------>

        <section class="movies">

            <h1 class="headingMovies" id="HeadingN">Search By Genre</h1>

            

            <div id="MovieSectionGenre">


                <div class="container" id="lang">
                    <button type="submit" id="GenreLang" onclick="window.location.href='https://www.google.com'">ACTION</button>                
                 </div>
 
 
                 <div class="container">
                     <button type="submit" id="GenreLang" onclick="window.location.href='https://www.google.com'">ADVENTURE</button>               
                 </div>
 
 
                 <div class="container">
                     <button type="submit" id="GenreLang" onclick="window.location.href='https://www.google.com'">COMEDY</button>
                 </div>

                 <div class="container" id="lang">
                    <button type="submit" id="GenreLang" onclick="window.location.href='https://www.google.com'">DRAMA</button>                
                 </div>
 
 
                 <div class="container">
                     <button type="submit" id="GenreLang" onclick="window.location.href='https://www.google.com'">CRIME</button>               
                 </div>
 
 
                 <div class="container">
                     <button type="submit" id="GenreLang" onclick="window.location.href='https://www.google.com'">ROMANCE</button>
                 </div>

                 <div class="container">
                    <button type="submit" id="GenreLang" onclick="window.location.href='https://www.google.com'">ANIMATION</button>               
                </div>


                <div class="container">
                    <button type="submit" id="GenreLang" onclick="window.location.href='https://www.google.com'">HORROR</button>
                </div>


            </div>

            
            
        </section>


        <!-- --------------------------LanguageSection------------------------>

        <section class="movies">

            <h1 class="headingMovies" id="HeadingN">Search By Language</h1>

            

            <div id="MovieSectionLang">


                <div class="container" id="lang">
                   <button type="submit" id="GenreLang" onclick="window.location.href='https://www.google.com'">বাংলা</button>                
                </div>


                <div class="container">
                    <button type="submit" id="GenreLang" onclick="window.location.href='https://www.google.com'">हिंदी</button>               
                </div>


                <div class="container">
                    <button type="submit" id="GenreLang" onclick="window.location.href='https://www.google.com'">English</button>
                </div>


                
            </div>

            
            
        </section>

        




    </main>


<!--------------------------------------- Footer Section -------------------------------------->


     <footer class="footer">
        <p class="footerNote">© 2020-2021   ||    First Impression</p>
        <br>
        <section>
            <p class="footerText">Follow Us</p>

            <ul id="footerLinks">
                <li class="aSlink"><a href="https://www.instagram.com/" target="blank"><img class="LinkImg" src="../static/instagram.png" alt="instagram"></a></li>
                <li class="aSlink"><a href="https://www.facebook.com/" target="blank"><img class="LinkImg" src="../static/facebook.png" alt="instagram"></a></li>
                <li class="aSlink"><a href="https://twitter.com/" target="blank"><img class="LinkImg" src="../static/Twitter.png" alt="instagram"></a></li>
                
                <li class="PrivacyLink"><a class="aPrivacy" href="#" target="blank">Pivacy Policy</a></li>
                <li class="PrivacyLink"><a class="aPrivacy" href="#" target="blank">Terms & Conditions</a></li>
            </ul>

        </section>
    </footer>






</body>


</html>
