{% extends 'base.html' %}

{% load static %}



{% block content %}


<main class="aboutUspage">
    <section class="aboutContainer">

        <div class="aboutSecPg">

            <div class="aboutusPageDiv1">

                <div class="ProfileContainerHeading">

                
                    <img src="{% static 'About_us.png'%}" alt="Image">
        
                </div>

                <!-------------------- Founding members section---------------->  

                <div class="FoundersSectionPage">
                    <h2 class="foundingPg">Our Founders</h2>
    
                       <div class="ContainerAboutUs">
    
    
                            <div class="container">
    
                                <div>
                                    <a href="https://www.instagram.com/">
    
                                    <img src="{% static 'Untitled design.jpg' %}" alt="image" 
                                    id="aboutPGfounder" class="image1">
    
                                    </a>
    
                                    <p class="p">SAYANDEEP SAHA</p>
    
                                </div>
    
                            </div>
                            
                            
                                            
                        
    
                            <div class="container">
    
                                <div class="aboutPGfounder33">
    
                                        <a href="https://www.instagram.com/">
    
                                        <img src="{% static 'Untitled design.jpg' %}" alt="image" 
                                        class="image1">
    
                                        </a>
    
                                        <p class="p">KUNTAL PAUL</p>
    
                                </div>
    
                                
                                    
                            </div>
    
                        </div> 
    
                    </div>

               

                </div>  

                    <!-----------------------About Our Project Section----------------------->

                <div class="ProjectSecpg">
                    <h2 class="aboutProjectpg">About Project</h2>
                        <p class="aboutProjectpara">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                            Corrupti, doloremque. Nulla voluptatibus omnis quos adipi
                            sci nihil totam culpa necessitatibus quam recusandae quid
                            em doloribus pariatur nostrum voluptas vero explicabo quo
                            d itaque, quo, harum, modi quaerat? Lorem ipsum dolor, si
                            amet consectetur adipisicing elit.dfvdg djd kekw iodf oko
                            Corrupti, doloremque. Nulla voluptatibus omnis quos adipi
                            sci nihil totam culpa necessitatibus quam recusandae quid
                            em doloribus pariatur nostrum voluptas vero explicabo quo
                            d itaque, quo, harum, modi quaerat? dfg gggg  serwerwer r
                        </p>
                </div> 
          

        </div>



    </section>


</main>

{% endblock %}