{% extends 'base.html' %}



{% block content %}
<section class="SectionContactForm">


  <form>

    <div class="kb-33">

      <div class=mb-33>
        <label for="exampleFormControlInput1" class="form-label"></label>
        <input type="text" placeholder="Full Name">
      </div>

      <div class=mb-334>
        <label for="exampleFormControlInput1" class="form-label"></label>
        <input type="email" placeholder="Email">
      </div>

    </div>

    <div class="FI-33">

      <div class=mb-34>
        <label for="exampleFormControlInput1" class="form-label"></label>
        <input type="password" placeholder="Phone Number">
      </div>

      <div class=mb-334>
        <label for="exampleFormControlInput1" class="form-label"></label>
        <input type="text" placeholder="Subject">
      </div>

    </div>


  </form>

</section>

 

{% endblock %}