{% extends 'base.html' %}



{% block content %}
<div class="kb-33">


  <div class=mb-33>
    <label for="exampleFormControlInput1" class="form-label"></label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Full Name">
  </div>

  <div class=mb-334>
    <label for="exampleFormControlInput1" class="form-label"></label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email">
  </div>


</div>

    <div class=mb-34>
      <label for="exampleFormControlInput1" class="form-label"></label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Subject">
    </div>

    <div class=mb-34>
      <label for="exampleFormControlTextarea1" class="form-label" ></label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Enter The Message Here"></textarea>
    </div>

{% endblock %}