{% extends 'base.html' %}

{% load static %}



{% block content %}
    <!-- Body Section -->
    <main class="main-section">
       
        
        <!------------------------------- Movie Section --------------------------------------->
        
        
        <section class="movies">

            <h1 class="headingMovies">Recent Movies To Watch</h1>

           

            <div id="MovieSection">

                <div class="container">
                    <img src="{% static '/movie1.jpg' %}" alt="image" class="image1">
                    <p class="p">FAST & FURIOUS 9 </p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div>                
                </div>

                <div class="container">
                    <img src="{% static '/movie1.jpg' %}" alt="image" class="image1">
                    <p class="p">FAST & FURIOUS 9</p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div>                 
                </div>

                <div class="container">
                    <img src="{% static '/movie1.jpg' %}" alt="image" class="image1">
                    <p class="p">FAST & FURIOUS 9</p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div> 
                    
                </div>

                <div class="container">
                    <img src="{% static '/movie1.jpg' %}" alt="image" class="image1">
                    <p class="p">FAST & FURIOUS 9</p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div> 
                </div>


                <div class="container">
                    <img src="{% static '/movie1.jpg' %}" alt="image" class="image1">
                    <p class="p">FAST & FURIOUS 9</p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div> 
                </div>

            </div>
            
        </section>



        <!---------------------------- TV section----------------------------->    


        <section class="movies">

            <h1 class="headingMovies" id="HeadingN">Best On NETFLIX</h1>

            

            <div id="MovieSection">

                <div class="container">
                    <img src="{% static '/wseries2.jpg' %}" alt="image" class="image1">
                    <p class="p">STRANGER THINGS</p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div>                
                </div>

                <div class="container">
                    <img src="{% static '/wseries2.jpg' %}" alt="image" class="image1">
                    <p class="p">STRANGER THINGS</p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div>                 
                </div>

                <div class="container">
                    <img src="{% static '/wseries2.jpg' %}" alt="image" class="image1">
                    <p class="p">STRANGER THINGS</p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div> 
                    
                </div>

                <div class="container">
                    <img src="{% static '/wseries2.jpg' %}" alt="image" class="image1">
                    <p class="p">STRANGER THINGS</p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div> 
                </div>


                <div class="container">
                    <img src="{% static '/wseries2.jpg' %}" alt="image" class="image1">
                    <p class="p">STRANGER THINGS</p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div> 
                </div>

            </div>
            
        </section>

        <!---------------------------- Amazon prime section ----------------------------->    

        <section class="movies">

            <h1 class="headingMovies" id="HeadingN">Best On Amazon Prime</h1>

            

            <div id="MovieSection">

                <div class="container">
                    <img src="{% static '/wseries2.jpg' %}" alt="image" class="image1">
                    <p class="p">STRANGER THINGS</p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div>                
                </div>

                <div class="container">
                    <img src="{% static '/wseries2.jpg' %}" alt="image" class="image1">
                    <p class="p">STRANGER THINGS</p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div>                 
                </div>

                <div class="container">
                    <img src="{% static '/wseries2.jpg' %}" alt="image" class="image1">
                    <p class="p">STRANGER THINGS</p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div> 
                    
                </div>

                <div class="container">
                    <img src="{% static '/wseries2.jpg' %}" alt="image" class="image1">
                    <p class="p">STRANGER THINGS</p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div> 
                </div>


                <div class="container">
                    <img src="{% static '/wseries2.jpg' %}" alt="image" class="image1">
                    <p class="p">STRANGER THINGS</p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div> 
                </div>

            </div>
            
        </section>


        <!---------------------------- TV section----------------------------->    


        <section class="movies">

            <h1 class="headingMovies" id="HeadingN">Recent TV Series To Watch</h1>

          

            <div id="MovieSection">

                <div class="container">
                    <img src="{% static '/wseries2.jpg' %}" alt="image" class="image1">
                    <p class="p">STRANGER THINGS</p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div>                
                </div>

                <div class="container">
                    <img src="{% static '/wseries2.jpg' %}" alt="image" class="image1">
                    <p class="p">STRANGER THINGS</p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div>                 
                </div>

                <div class="container">
                    <img src="{% static '/wseries2.jpg' %}" alt="image" class="image1">
                    <p class="p">STRANGER THINGS</p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div> 
                    
                </div>

                <div class="container">
                    <img src="{% static '/wseries2.jpg' %}" alt="image" class="image1">
                    <p class="p">STRANGER THINGS</p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div> 
                </div>


                <div class="container">
                    <img src="{% static '/wseries2.jpg' %}" alt="image" class="image1">
                    <p class="p">STRANGER THINGS</p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div> 
                </div>

            </div>
            
        </section>

    </main>

{% endblock %}