{% extends 'base.html' %}

{% load static %}



    {% block content %}


    <main>

        <!-- --------------------------Top Rated Movies Section------------------------>

        <section class="movies">

            <h1 class="headingMovies">Top Rated TV Shows</h1>

            

            <div id="MovieSection">

                <a class="Arrow" href="#"><i class="fa">&#xf053;</i></a>

                <div class="container">
                    <img src="{% static '/movie1.jpg' %}" alt="image" class="image1">
                    <p class="p">FAST & FURIOUS 9 </p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div>                
                </div>

                <div class="container">
                    <img src="{% static '/movie1.jpg' %}" alt="image" class="image1">
                    <p class="p">FAST & FURIOUS 9</p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div>                 
                </div>

                <div class="container">
                    <img src="{% static '/movie1.jpg' %}" alt="image" class="image1">
                    <p class="p">FAST & FURIOUS 9</p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div> 
                    
                </div>

                <div class="container">
                    <img src="{% static '/movie1.jpg' %}" alt="image" class="image1">
                    <p class="p">FAST & FURIOUS 9</p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div> 
                </div>


                <div class="container">
                    <img src="{% static '/movie1.jpg' %}" alt="image" class="image1">
                    <p class="p">FAST & FURIOUS 9</p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div>
         
                </div>

                    <a class="Arrow" href="#"><i class="fa">&#xf054;</i></a>                    

            </div>

        </section>

        <!-- --------------------------Popular webseries Section------------------------>

        <section class="movies">

            <h1 class="headingMovies" id="HeadingN">Popular webseries</h1>

            

            <div id="MovieSection">

                <a class="Arrow" href="#"><i class="fa">&#xf053;</i></a>


                <div class="container">
                    <img src="{% static '/wseries2.jpg' %}" alt="image" class="image1">
                    <p class="p">STRANGER THINGS</p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div>                
                </div>

                <div class="container">
                    <img src="{% static '/wseries2.jpg' %}" alt="image" class="image1">
                    <p class="p">STRANGER THINGS</p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div>                 
                </div>

                <div class="container">
                    <img src="{% static '/wseries2.jpg' %}" alt="image" class="image1">
                    <p class="p">STRANGER THINGS</p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div> 
                    
                </div>

                <div class="container">
                    <img src="{% static '/wseries2.jpg' %}" alt="image" class="image1">
                    <p class="p">STRANGER THINGS</p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div> 
                </div>


                <div class="container">
                    <img src="{% static '/wseries2.jpg' %}" alt="image" class="image1">
                    <p class="p">STRANGER THINGS</p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div> 
                </div>

                <a class="Arrow" href="#"><i class="fa">&#xf054;</i></a>

            </div>
            
        </section>


        <!-- --------------------------Popular shows of the year Section--------------------- -->

        <section class="movies">

            <h1 class="headingMovies" id="HeadingN">Popular Shows Of The Year</h1>

            

            <div id="MovieSection">

                <a class="Arrow" href="#"><i class="fa">&#xf053;</i></a>


                <div class="container">
                    <img src="{% static '/wseries2.jpg' %}" alt="image" class="image1">
                    <p class="p">STRANGER THINGS</p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div>                
                </div>

                <div class="container">
                    <img src="{% static '/wseries2.jpg' %}" alt="image" class="image1">
                    <p class="p">STRANGER THINGS</p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div>                 
                </div>

                <div class="container">
                    <img src="{% static '/wseries2.jpg' %}" alt="image" class="image1">
                    <p class="p">STRANGER THINGS</p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div> 
                    
                </div>

                <div class="container">
                    <img src="{% static '/wseries2.jpg' %}" alt="image" class="image1">
                    <p class="p">STRANGER THINGS</p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div> 
                </div>


                <div class="container">
                    <img src="{% static '/wseries2.jpg' %}" alt="image" class="image1">
                    <p class="p">STRANGER THINGS</p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div> 
                </div>

                <a class="Arrow" href="#"><i class="fa">&#xf054;</i></a>

            </div>
            
        </section>

        <!-- --------------------------Now Playing in TV Section------------------------>

        <section class="movies">

            <h1 class="headingMovies" id="HeadingN">Now Playing In TV</h1>

            

            <div id="MovieSection">

                <a class="Arrow" href="#"><i class="fa">&#xf053;</i></a>


                <div class="container">
                    <img src="{% static '/wseries2.jpg' %}" alt="image" class="image1">
                    <p class="p">STRANGER THINGS</p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div>                
                </div>

                <div class="container">
                    <img src="{% static '/wseries2.jpg' %}" alt="image" class="image1">
                    <p class="p">STRANGER THINGS</p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div>                 
                </div>

                <div class="container">
                    <img src="{% static '/wseries2.jpg' %}" alt="image" class="image1">
                    <p class="p">STRANGER THINGS</p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div> 
                    
                </div>

                <div class="container">
                    <img src="{% static '/wseries2.jpg' %}" alt="image" class="image1">
                    <p class="p">STRANGER THINGS</p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div> 
                </div>


                <div class="container">
                    <img src="{% static '/wseries2.jpg' %}" alt="image" class="image1">
                    <p class="p">STRANGER THINGS</p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div> 
                </div>

                <a class="Arrow" href="#"><i class="fa">&#xf054;</i></a>

            </div>
            
        </section>

        <!-- --------------------------Netflix original Section------------------------>

        <section class="movies">

            <h1 class="headingMovies" id="HeadingN">Netflix Original</h1>

            

            <div id="MovieSection">

                <a class="Arrow" href="#"><i class="fa">&#xf053;</i></a>


                <div class="container">
                    <img src="{% static '/wseries2.jpg' %}" alt="image" class="image1">
                    <p class="p">STRANGER THINGS</p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div>                
                </div>

                <div class="container">
                    <img src="{% static '/wseries2.jpg' %}" alt="image" class="image1">
                    <p class="p">STRANGER THINGS</p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div>                 
                </div>

                <div class="container">
                    <img src="{% static '/wseries2.jpg' %}" alt="image" class="image1">
                    <p class="p">STRANGER THINGS</p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div> 
                    
                </div>

                <div class="container">
                    <img src="{% static '/wseries2.jpg' %}" alt="image" class="image1">
                    <p class="p">STRANGER THINGS</p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div> 
                </div>


                <div class="container">
                    <img src="{% static '/wseries2.jpg' %}" alt="image" class="image1">
                    <p class="p">STRANGER THINGS</p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div> 
                </div>

                <a class="Arrow" href="#"><i class="fa">&#xf054;</i></a>

            </div>
            
        </section>


        <!-- --------------------------Amazon prime original Section------------------------>

        <section class="movies">

            <h1 class="headingMovies" id="HeadingN">Amazon Prime Original</h1>

            

            <div id="MovieSection">

                <a class="Arrow" href="#"><i class="fa">&#xf053;</i></a>


                <div class="container">
                    <img src="{% static '/wseries2.jpg' %}" alt="image" class="image1">
                    <p class="p">STRANGER THINGS</p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div>                
                </div>

                <div class="container">
                    <img src="{% static '/wseries2.jpg' %}" alt="image" class="image1">
                    <p class="p">STRANGER THINGS</p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div>                 
                </div>

                <div class="container">
                    <img src="{% static '/wseries2.jpg' %}" alt="image" class="image1">
                    <p class="p">STRANGER THINGS</p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div> 
                    
                </div>

                <div class="container">
                    <img src="{% static '/wseries2.jpg' %}" alt="image" class="image1">
                    <p class="p">STRANGER THINGS</p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div> 
                </div>


                <div class="container">
                    <img src="{% static '/wseries2.jpg' %}" alt="image" class="image1">
                    <p class="p">STRANGER THINGS</p>
                    <div class="middle">
                        <p class="text">4.5 Stars</p>
                    </div> 
                </div>

                <a class="Arrow" href="#"><i class="fa">&#xf054;</i></a>

            </div>
            
        </section>



        <!-- -------------------------- Genre Section------------------------>

        <section class="movies">

            <h1 class="headingMovies" id="HeadingN">Search By Genre</h1>

            

            <div id="MovieSectionGenre">


                <div class="container" id="lang">
                    <button type="submit" id="GenreLang" onclick="window.location.href='https://www.google.com'">ACTION</button>                
                 </div>
 
 
                 <div class="container">
                     <button type="submit" id="GenreLang" onclick="window.location.href='https://www.google.com'">ADVENTURE</button>               
                 </div>
 
 
                 <div class="container">
                     <button type="submit" id="GenreLang" onclick="window.location.href='https://www.google.com'">COMEDY</button>
                 </div>

                 <div class="container" id="lang">
                    <button type="submit" id="GenreLang" onclick="window.location.href='https://www.google.com'">DRAMA</button>                
                 </div>
 
 
                 <div class="container">
                     <button type="submit" id="GenreLang" onclick="window.location.href='https://www.google.com'">CRIME</button>               
                 </div>
 
 
                 <div class="container">
                     <button type="submit" id="GenreLang" onclick="window.location.href='https://www.google.com'">ROMANCE</button>
                 </div>

                 <div class="container">
                    <button type="submit" id="GenreLang" onclick="window.location.href='https://www.google.com'">ANIMATION</button>               
                </div>


                <div class="container">
                    <button type="submit" id="GenreLang" onclick="window.location.href='https://www.google.com'">HORROR</button>
                </div>


            </div>

            
            
        </section>


        <!-- --------------------------LanguageSection------------------------>

        <section class="movies">

            <h1 class="headingMovies" id="HeadingN">Search By Language</h1>

            

            <div id="MovieSectionLang">


                <div class="container" id="lang">
                   <button type="submit" id="GenreLang" onclick="window.location.href='https://www.google.com'">বাংলা</button>                
                </div>


                <div class="container">
                    <button type="submit" id="GenreLang" onclick="window.location.href='https://www.google.com'">हिंदी</button>               
                </div>


                <div class="container">
                    <button type="submit" id="GenreLang" onclick="window.location.href='https://www.google.com'">English</button>
                </div>


                
            </div>

            
            
        </section>

        




    </main>


    {% endblock %}
