

#MovieSectionLang{

   margin: 22px;
   display: flex;
    
}
    
#MovieSectionLang .container{
       
  margin: 25px auto;
  margin-bottom: 20px;
  margin-left: 125px;
  width: 100%;
 
     
}

#MovieSectionLang .container #GenreLang{

  padding:50px ;
  background-color: rgb(60, 0, 109);
  font-size: 50px;
  border-radius: 35px;
  box-shadow: 14px 21px 40px grey;
  color: aliceblue;
}

#GenreLang:hover{
opacity: 0.5;
}